@import "../../styles/mixin.scss";

.floatingContainer {
  @include widthHeight(5rem, null);
  @include flexProps(flex, center, center, column);
}
.straightLine {
  @include widthHeight(0.3rem, 8rem);
  background-color: #000000;
}

.floatingTags {
  border: 3px solid black;
  border-radius: 50%;
  @include widthHeight(4rem, 4rem);
  @include flexProps(flex, center, center);
}
.linedirectionbottom {
  margin-bottom: 1rem;
  @include flexProps(null, null, null, column-reverse !important);
}

.floatingsubTaskContainer {
  @include flexProps(flex, center, center, column);
  width: 3rem;
  @include widthHeight(3rem, null);
  margin-top: 6rem;
  flex: 1;
}
.straightLinesubtask {
  @include widthHeight(0.3rem, 2rem);
  background-color: #000000;
}

.linesubtaskdirectionbottom {
  margin-top: -4rem;
  @include flexProps(null, null, null, column-reverse !important);
}

.subTask {
  margin-bottom: -6rem !important;
}

.bottomreverse {
  margin-top: -3rem;
}
