.container {
  display: flex;
  justify-content: flex-start;
  padding: 2rem;
  flex-direction: column;
}
.smallContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.parentContainer {
  display: flex;
  flex-direction: column;
}

.smallContainer:nth-of-type(even) {
  margin-bottom: 0rem;
}
.smallContainer:nth-of-type(1) {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.seatNo {
  height: 2.5rem;
  width: 6rem;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.employeeName {
  height: 2.5rem;
  width: 6rem;
  background-color: rgb(156, 173, 147);
  display: flex;
  justify-content: center;
  align-items: center;
}
.seatInfo {
  display: flex;
  flex-direction: column;
}

.cabins {
  //   width: 18rem;
  //   grid-template-columns: 1fr;
  height: 2rem;
  grid-template-columns: 1fr 60px;
  border: 1px solid gray;
  padding: 1rem;
}

.cabinInfo {
  display: grid;
  // grid-template-columns: auto auto auto auto;
  grid-template-columns: repeat(5, 1fr);
}
