@import "../../styles/mixin.scss";

.list {
  flex: 1;
  &:after,
  &:before {
    content: "";
    @include position(absolute);
  }

  &:before {
    @include position(absolute, 1.23rem, calc(50% - 12px));
    border-style: solid;
    border-color: black black transparent transparent;
    border-width: 0.625rem;
    transform: rotate(133deg);
  }
}

.reverseList {
  flex: 1;
  &:after,
  &:before {
    content: "";
    @include position(absolute);
  }

  &:before {
    @include position(absolute, null, calc(50% - 12px), 1.2rem, null);
    border-style: solid;
    border-color: black black transparent transparent;
    border-width: 0.625rem;
    transform: rotate(313deg);
  }
}

li:first-child,
li:last-child {
  border-radius: 1rem 0rem 0rem 1rem;
}

li:last-child {
  border-radius: 0rem 1rem 1rem 0rem;
}

.container {
  @include position(relative);
}
.timelineWrapper {
  margin: 25rem 0;
  padding: 0;
  list-style: none;
  @include flexProps(flex);
}

.listItems {
  @include widthHeight(null, 1.875rem);
  @include position(relative);
}

.itemPlacedtop {
  @include widthHeight(100%, null);
  @include position(absolute, null, null, 1.8rem);
  @include flexProps(flex, center, center);
}

.itemPlacedbot {
  @include position(absolute);
  @include widthHeight(100%, null);
  @include flexProps(flex, center, center);
}

.textBottomPlaced {
  @include position(absolute, 3.375rem);
  text-align: center;
}

.textTopPlaced {
  @include position(absolute, null, null, 3.375rem, null);
  text-align: center;
}

.stepGraph {
  @include position(absolute, 1rem, null, null, null);
}
.dottedGraph {
  @include position(absolute, 5rem, null, null, null);
}
