.list {
  flex: 1;
  &:after,
  &:before {
    content: "";
    position: absolute;
  }

  &:before {
    right: calc(50% - 12px);
    top: 1.23rem;
    border-style: solid;
    border-color: black black transparent transparent;
    border-width: 10px;
    transform: rotate(133deg);
  }
}

.reverseList {
  flex: 1;
  &:after,
  &:before {
    content: "";
    position: absolute;
  }

  &:before {
    right: calc(50% - 12px);
    bottom: 1.2rem;
    border-style: solid;
    border-color: black black transparent transparent;
    border-width: 10px;
    transform: rotate(313deg);
  }
}

li:first-child {
  background-color: gray;
  border-radius: 1rem 0rem 0rem 1rem;
}

li:last-child {
  background-color: gray;
  border-radius: 0rem 1rem 1rem 0rem;
}

.container {
  position: relative;
}
.timelineWrapper {
  margin: 390px 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.listItems {
  // width: 16%;
  padding-top: 30px;
  position: relative;
}

.itemPlacedtop {
  position: absolute;
  bottom: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemPlacedbot {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textBottomPlaced {
  position: absolute;
  top: 54px;
  text-align: center;
}

.textTopPlaced {
  position: absolute;
  bottom: 54px;
  text-align: center;
}
